.logo {
    height: 40px;
}

nav {
    text-transform: uppercase;
    line-height: 30px;
}

#pack_box{
    text-align  : center;
}

#pack_images img {
    width: 223px;
    height: 311px;
}

#pack_images img:hover {
    cursor: pointer;
}

footer {
    background: #F8F8F8;
    border: solid 1px #E7E7E7;
    padding: 20px 0 10px 0;
    margin: 100px 0 100px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#commands {
    text-align: center;
}

#commands li {
    background: #F8F8F8;
    border: solid 1px #E7E7E7;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#deck_title {
    font-size: 40px;
}

.card_wrapper{
  display: inline-block;
  position: relative;
  margin: 3px;
  
}
.card_img{
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;

}
.card_overlay{
  position: absolute; 
  display: table;
  z-index: 2;
  top: 35px;
  left: 18px;
  right:0;
  width: 187px;
  height: 138px;
  background-color: rgba(255,255,255,.70);
  text-align: middle;
  pointer-events: none; /*enables onclick to pass through overlay */
}

.card_rating_text{
  text-align:center; 
  vertical-align: middle;
  display: table-cell;
  font-size: 90px;
  padding-bottom: 0px;
  color: rgba(0,0,0,.75);
  pointer-events: none; /*enables onclick to pass through text*/
  }

  .nav li{
  z-index: 99; /* ensures that the menu stays on top of all other page elements */
}
